{% load static %}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TÜRKAT</title>
    <link rel="stylesheet" href="{% static 'form.css' %}">
</head>
<body>
    <div class="login">
        <form method="POST">
            <div class="container">
                <h1>Hoş Geldiniz</h1>
                <button id="toggleBtn" type="button" style="inline-size: 30px; left: 280px; bottom: 80px; background: rgb(183, 9, 9);"></button>
                {{form}}
                {% csrf_token %}
            <div class="container-kayıt">
                <button type="submit" value="save" class="button" style="inline-size: 318px;">Giriş yap</button>
                <p>Giriş yapmak için => <a href="{% url 'login' %}">Giriş yap</a></p>
            </div>
            </div>
        </form> 
    </div>
</body>
<script>
    // Başlangıçta arka plan beyaz
    let isBlack = false;

    // Butona tıklanma olayı
    document.getElementById("toggleBtn").addEventListener("click", function() {
        if (isBlack) {
            // Arka planı beyaz yap
            document.body.style.backgroundColor = "white";
        } else {
            // Arka planı siyah yap
            document.body.style.backgroundColor = "rgb(60, 2, 2)";
        }
        // Renk durumunu değiştir
        isBlack = !isBlack;
    });
</script>
</html>